.navbarPlaylist__header {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(156, 156, 156)
}