.profile {
    display:flex;
    align-items: center;
}

.profile__expand {
    margin-right: 20px;
}

.profile__text {
    margin-right: 25px;
    margin-left: 10px;
    font-weight: 350;
    font-size: 15px;
}

.profile__avatar {
    width:25px;
    height:25px;
}